/* Globals.scss */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,900,700);

@mixin body-font {
    font-family: 'Roboto', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: 'Roboto', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: 'Roboto', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700; 
}

@mixin headline-font {
    font-family: 'Roboto', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
}